{% load staticfiles %}
<script src="{% static 'filer/js/popup_handling.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/filer.js' %}"></script>

<style>
  html,
  body {
      width: 100%;
      height: 100%;
  }
  #feincmscontentinline_loading {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  /* http://tobiasahlin.com/spinkit/ */
  #feincmscontentinline_loading_spinner {
    width: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #feincmscontentinline_loading_spinner > div {
    width: 18px;
    height: 18px;
    background-color: #000;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  #feincmscontentinline_loading_spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  #feincmscontentinline_loading_spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
  }

  .feincmscontentinline_hook {
    display: none;
  }
  .form-row.inline_link {
    display: none;
  }
  fieldset.order-item .inline-group .inline-related > h3 {
    display: block;
    background: #fcfcfc none repeat scroll 0 0;
  }
  fieldset.order-item .inline-group .inline-related > h3 b,
  fieldset.order-item .inline-group .inline-related > h3 .inline_label {
    display: none;
  }

</style>
